# Compiled object files
*.vs
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb
*.idb

# Build directories
/build/
/bin/
/lib/
/dist/
/Debug/
/Release/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Visual